<aside>
    <div class="center">
        <img class="logo" src="/static/images/logo.png" alt="logo">
    </div>

    <nav>
        <a href="/">Main Page</a>
        <a href="/article">All Articles</a>
        <form>
            <input type="text">
            <input type="submit" value="Search">
        </form>
        <a href="/article">Create New Article</a>
    </nav>
</aside>