<aside>
    <div class="center">
        <img class="logo" src="/static/images/logo.png" alt="logo">
    </div>

    <nav>
        <a href="/">Main Page</a>
        <a href="/articles">All Articles</a>
        <form action="/articles">
            <input type="text" name="search">
            <input type="submit" value="Search">
        </form>
        {{#if isLoggedIn}}
        <a href="/articles/create">Create New Article</a>
        {{/if}}
    </nav>
</aside>