<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Video Tutorials</h1>
        <p class="lead">Start Self-Study Today: It'll Change Your Life</p>
    </div>
</div>