<h1>Welcome to SoftUni Wiki!</h1>
<section>
    {{#unless search}}
    <h2>All articles</h2>
    {{else}}
    <h2>Search results for: {{search}}</h2>
    {{/unless}}
    <div class="spacer">
        <ul>
            {{#each articles}}
            <li>
                <a href="/articles/{{_id}}">{{title}}</a>
            </li>
            {{/each}}
        </ul>
    </div>
</section>