<h1>Welcome to SoftUni Wiki!</h1>
<div class="spacer">
    <h2>{{title}}
        <div class="controls">
            {{#if isLoggedIn}}
            <a href="/articles/edit/{{_id}}">[edit]</a>
            {{#if isCreator}}
            <a href="/articles/delete/{{_id}}">[delete]</a>
            {{/if}}
            {{/if}}
        </div>
    </h2>
    <article>
        {{#each paragraphs}}
        <p>{{this}}</p>
        {{/each}}
    </article>
</div>