<h1>Welcome to SoftUni Wiki!</h1>
<section>
    <h2>Edit article</h2>
    <div class="spacer">
        <form action="/article/{{_id}}" method="POST">
            <label>Article title</label>
            <h3>{{title}}</h3>
            <label>Content</label>
            <textarea>{{description}}</textarea>
            <input type="submit" value="Submit">
        </form>
    </div>
</section>