<h1>Login Form</h1>
<h1>Welcome to SoftUni Wiki!</h1>
<section>
  <h2>Login</h2>
  {{#if errorMessages}}
{{> error-message}}
{{/if}}
  <div class="spacer">
    <form action="/login" method="POST">
      <label>Username:</label>
      <input type="text" name="username" value="{{username}}">
      <label>Password:</label>
      <input type="password" name="password">
      <input type="submit" value="Login">
    </form>
  </div>
</section>