<h1>Welcome to SoftUni Wiki!</h1>
<section>
  <h2>Register</h2>
{{#if errorMessages}}
{{> error-message}}
{{/if}}
  <div class="spacer">
    <form action="/register" method="POST">
      <label>Username:</label>
      <input type="text" name="username" value="{{username}}">
      <label>Password:</label>
      <input type="password" name="password">
      <label>Repeat password:</label>
      <input type="password" name="repeatPassword">
      <input type="submit" value="Register">
    </form>
  </div>
</section>