<header>
    {{> header}}
    <form action="/" method="GET">
        <input type="text" name="searchText">
        <button type="submit">Search</button>
    </form>
</header>
	
<main>
    <section class="cats">
            <ul>
                {{#each cats}}
                  {{> cat}}
                {{/each}}
            </ul>
</section>
</main>